@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    color: hsl(234, 12%, 34%);
    background-color: hsl(0, 0%, 98%);
}

img {
    max-width: 100%;
    display: block;
}

h1 {
    font-weight: 200;
}

.title {
    width: 40rem;
    margin: 0 auto;
    margin-bottom: 2rem;
}

span {
    font-weight: 600;
}

.top__text {
    width: 50rem;
    text-align: center;
}


/* Card section */
.cards {
    display: flex;
    justify-content: center;
    max-width: 114rem;
    margin: 0 auto;
    flex-wrap: wrap;
}

.card {
    width: 35rem;
    height: 30rem;
    padding: 3rem;
    position: relative;
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
    margin: 1.5rem;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card__text {
    line-height: 1.6;
    font-weight: 200;
}

.card img {
    position: absolute;
    bottom: 4rem;
    right: 4rem;

}

.card::before {
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    top: 0;
    left: 0;
}

.red::before {
    background-color: hsl(0, 78%, 62%);
}

.cyan::before {
    background-color: hsl(180, 62%, 55%);
}

.yellow::before {
    background-color: hsl(34, 97%, 64%);
}

.blue::before {
    background-color: hsl(212, 86%, 64%);
}

.top {
    max-width: 50rem;
    padding: 2rem;
    margin: 5rem auto;
}

.move_bot {
    transform: translateY(50%);
}

@media (max-width:775px) {
    .move_bot {
        transform: translateY(0%);
    }
}
